
body 
{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff; 
    background-image: url('fondo.jpg');
    color:#ffffff;
}



header, main, footer
 {
    text-align: center;
    width: 90%;
    max-width: 800px; 
    color:#ffffff;
}

textarea, button, .mensaje-texto, .tarjeta-contenedor
 {
    background-color: #f0e398; 
    border: 1px solid #0044ff; 
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

button:hover 
{
    background-color: #005BBB;
    color: #ffffff; 
    transition: background-color 0.5s, color 0.5s;
}

button
 {
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

main 
{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%; 
}

.encriptar, .tarjeta-salida
{
    flex-basis: 45%; 
    max-width: 45%;
}

@media (max-width: 768px)
{
    main 
	{
        flex-direction: column;
    }
    .encriptar, .tarjeta-salida
	{
        flex-basis: 100%;
        max-width: 100%;
    }
}

footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
}

